mat-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    mat-card-header {
        align-self: center;
        margin-top: 12px;     

        mat-card-title {
            color: #303F9F;
            font-size: 2rem;  
        }
    }

    mat-card-content {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1 {
            align-self: flex-start;
            margin: 4px 0;
            padding: 0;
        }

        button {
            margin: 16px;
            justify-self: center;
        }
    }
}