div {
    display: flex;
    justify-content: space-between;

    div {
        form {
            display: flex;
            button {
                margin-left: 12px;
                margin-bottom: 16px;
                align-self: center;
            }
        }
    }

    div {
        button {
            margin: 0 8px 16px 8px;
        }
    }
}

table {
    width: 100%;
}