ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;

    li {
        border-radius: 5px;
        border: solid 1px black;
        background-color: #ccf2ff;
        color: black;
        font-weight: 500;
        margin: 4px 0;

        p {
            margin-top: 12px;
            margin-left: 12px;

            span {
                font-style: italic;
            }
        }
    }

    li:hover {
        background-color: #006080;
        color: white;
        cursor: pointer;
    }
}

