@import '../app.component';

.content {
    padding-bottom: 50px;

    h3 {
        font-weight: 500;
        margin-right: 50px;
    }

    nav {
        position: sticky;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 64px;
        left: 0;
        width: 100%;
        z-index: 9;
        border-bottom: 1px solid gray;
        color: gray;
        padding: 12px 0;    
        background: white;
        
        h1 {
            margin: 0;
        }
        button {
            margin: 0 8px;
        }
    }
    
    .add-question-button {
        position: fixed;
        top: 180px;
        left: 170px;
        z-index: 10;
    }

    section {
        width: 1000px;
        margin: 15px auto;       

        h2 {
            text-align: center;
            padding-top: 16px;
        }

        div {
            mat-card {
                margin: 15px 0;

                button {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }
            }
        }

        ul {
            list-style: none;
            padding: 0;
            li {
                margin-left: 15px;
            }
        }        
    }
}  