mat-card {
    margin: 0 auto;
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;

    form {        
        mat-form-field {
            margin: 8px;
        }

        div {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            mat-form-field {
                margin: 4px 0;
            }
        }
    }

    div {
        margin-top: 24px;
        margin-bottom: 12px;
    }
}