@import '../app.component';

mat-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 350px;

    mat-card-header {  
        align-self: center;     
        
        mat-card-title { 
            font-weight: 700;
            padding: 8px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        mat-card-content {
            mat-form-field {
                width: 100%;
                margin: 2px 0;
            }
            .login-error {
                background: red;
                border: 1px solid white;
                border-radius: 5px;
                color: white;
                padding: 15px;
                margin-top: 0;
                margin-bottom: 10px;
            }
        }   
    }

    div {
        align-self: center;
        margin-top: 25px;
        a {
            text-decoration: none;
            font-weight: 500;
        }
    }
}