nav {
    mat-toolbar {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-left: 10px;
        padding-right: 10px;

        span.exam-title {
            font-size: 1.5rem;
            font-family: 'Rubik One';
            font-weight: 900;
        }

        div.menu-items {
            margin-left: 20px;
        }

        span.spacer {
            flex: 1 1 auto;
        }
    }
}